/* Add these styles to your styles.css file */
body {
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: auto;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
}

#utmResult {
    height: 100px;
    resize: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
    outline: none;
}

@media only screen and (max-width: 600px) {
    #utmResult {
        height: 100px;
    }
}

