body {
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

.logo {
    max-width: 100%;
    height: auto;
}

#result {
    margin-top: 20px;
}

.hidden {
    display: none;
}
/* Add these styles to your styles.css file */
#result {
    margin-top: 20px;
}

#utmResult {
    height: 150px; /* Adjust the height as needed */
    resize: none; /* Disable textarea resizing */
}

@media only screen and (max-width: 600px) {
    #utmResult {
        height: 100px; /* Adjust the height for smaller screens */
    }
}
